<!DOCTYPE html>
<html>

<head>
    <title>Sign UP Notification</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Sign UP Notification</h1>
    <p><b>Hello <%= name %>!</b></p>
    <p>Thank you for signing up to <b><%= hostName %></b> as a <b><%= userType %></b>, you can begin using our services right away.</p>
    <br>
    <p>If you have any questions, please do not hesitate to contact us at <b><%= hostEmail %></b>.</p>
    <p>Regards,</p>
    <p><%= hostName %></p>
</body>

</html>